text {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

svg {
    width: 100%;
}

.link {
    fill: none;
    stroke: #ddd;
}

.node {
    stroke: #000;
    stroke-width: 1px;
}

.slider-box {width: 90%; margin: 25px auto}

label, input {border: none; display: inline-block; margin-right: -4px; vertical-align: top; width: 30%}

input {width: 70%}

.slider {margin: 25px 0}